In [12]:
# #Mounting drive to access datafile
# from google.colab import drive
# drive.mount('/content/drive')

In [13]:
#Importing/installing modules
# !pip install pandas==1.3.5
import pandas as pd

# Supervised learning piece - Predicting headache occurrence

In [14]:
# pd.__version__

In [15]:
# pip install --upgrade xlrd

In [16]:
#Importing dataset for supervised learnig piece on headache occurrence. This is based of Scott's cleaned dataset with a few tweaks
main_df = pd.read_csv("CSV_DATA/DAP_2020_CSLB_v1.1.csv") # , header = [0,1]   My Drive
heal_df = pd.read_csv("CSV_DATA/DAP_2020_HLES_health_condition_v1.1.csv")
ownr_df = pd.read_csv("CSV_DATA/DAP_2020_HLES_dog_owner_v1.1.csv")
cncr_df = pd.read_csv("CSV_DATA/DAP_2020_HLES_cancer_condition_v1.1.csv")
envr_df = pd.read_csv("CSV_DATA/DAP_2020_ENVIRONMENT_v1.1.csv")

C:\Users\YZH79C\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (119,121,123,125,127,136,167,195,241,242,243,244,245,246,247,248,256,376,520) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
print(len(main_df))
main_df.head(20)

20096

,dog_id,cslb_active_6mo,cslb_avoid,cslb_date,cslb_defecate_6mo,cslb_find_food,cslb_food_6mo,cslb_other_changes,cslb_pace,cslb_pace_6mo,cslb_recognize,cslb_recognize_6mo,cslb_score,cslb_stare,cslb_stare_6mo,cslb_stuck,cslb_walk_walls
0,68063,2,1,2020-11-07,3,1,3,NaN,1,3,1,3,33,1,3,1,1
1,54147,3,5,2020-11-09,3,1,3,During the past several weeks he has displayed...,1,3,1,3,38,1,3,1,1
2,43693,3,1,2020-11-14,3,1,3,NaN,1,3,1,3,34,1,3,1,1
3,31102,3,1,2020-11-05,3,1,3,NaN,1,3,3,3,37,2,3,1,1
4,87218,3,1,2020-11-05,3,1,3,no,2,3,1,3,36,2,3,1,1
5,38914,3,1,2020-11-05,3,1,3,NaN,1,3,1,3,34,1,3,1,1
6,73203,3,1,2020-11-14,3,1,3,No,1,3,1,3,36,3,3,1,1
7,58831,4,1,2020-11-10,3,1,3,"""We lost our chocolate lab in mid-April, which...",1,3,1,3,35,1,3,1,1
8,80304,1,1,2020-12-04,1,1,3,When Sherlock is being walked on leash and we ...,1,3,2,3,32,2,3,1,1
9,51443,3,1,2020-12-01,3,1,3,He was a rescue and had trust issues. He is tr...,1,3,1,3,34,1,3,1,1
10,29702,5,5,2020-11-06,3,2,4,Mandy has developed a needy type of attitude i...,5,4,1,3,53,3,4,2,2
11,40356,3,1,2020-11-04,3,2,3,There was a period of about two months after n...,1,3,1,3,35,1,3,1,1
12,39845,3,1,2020-11-04,3,1,3,None,1,3,1,3,34,1,3,1,1
13,63876,3,1,2020-11-28,3,2,3,She is getting smarter chasing squirrels and r...,1,3,1,3,35,1,3,1,1
14,88967,3,1,2020-11-29,3,1,3,no changes,1,3,1,3,34,1,3,1,1
15,81319,3,1,2020-12-28,4,2,3,Zoe is refusing to go in the back yard with me...,1,3,2,3,37,1,3,1,1
16,52623,3,2,2020-11-25,3,1,3,None,1,3,2,2,33,1,3,1,1
17,10041,2,1,2020-11-04,3,2,3,NaN,1,3,1,3,34,1,3,1,1
18,70923,4,3,2020-11-15,4,2,4,"Odie used to be a rapid eater, now he eats abo...",4,4,1,3,47,1,3,2,2
19,86399,4,1,2020-11-08,3,2,3,no,1,3,1,3,36,1,3,1,1

In [18]:
heal_df.head(20)

,dog_id,hs_condition,hs_condition_cause_other_description,hs_condition_is_congenital,hs_condition_other_description,hs_condition_type,hs_diagnosis_month,hs_diagnosis_year,hs_eye_condition_cause,hs_follow_up_ongoing,hs_neurological_condition_vestibular_disease_type,hs_required_surgery_or_hospitalization
0,68063,423.0,NaN,False,NaN,4,3.0,2016.0,NaN,True,NaN,4.0
1,68063,426.0,NaN,False,NaN,4,3.0,2016.0,NaN,True,NaN,4.0
2,68063,712.0,NaN,False,NaN,7,3.0,2016.0,NaN,False,NaN,4.0
3,68063,714.0,NaN,False,NaN,7,8.0,2016.0,NaN,True,NaN,4.0
4,68063,1617.0,NaN,False,NaN,16,2.0,2017.0,NaN,True,NaN,4.0
5,68063,1817.0,NaN,False,NaN,18,8.0,2019.0,NaN,True,NaN,4.0
6,54147,1215.0,NaN,False,NaN,12,3.0,2020.0,NaN,True,NaN,4.0
7,54147,1803.0,NaN,False,NaN,18,6.0,2018.0,NaN,False,NaN,4.0
8,43693,305.0,NaN,False,NaN,3,3.0,2018.0,NaN,False,NaN,4.0
9,43693,307.0,NaN,False,NaN,3,1.0,2020.0,NaN,True,NaN,4.0
10,43693,1798.0,NaN,False,Fungus--toadstools suspected,17,5.0,2011.0,NaN,False,NaN,4.0
11,43693,1810.0,NaN,False,NaN,18,7.0,2020.0,NaN,False,NaN,4.0
12,31102,198.0,NaN,False,clogged tear duct,1,8.0,2016.0,NaN,False,NaN,4.0
13,31102,203.0,NaN,False,NaN,2,8.0,2016.0,NaN,False,NaN,4.0
14,31102,305.0,NaN,False,NaN,3,9.0,2016.0,NaN,False,NaN,1.0
15,31102,410.0,NaN,False,NaN,4,7.0,2018.0,NaN,False,NaN,4.0
16,31102,1615.0,NaN,False,NaN,16,6.0,2018.0,NaN,False,NaN,2.0
17,31102,1801.0,NaN,False,NaN,18,6.0,2016.0,NaN,False,NaN,4.0
18,87218,102.0,NaN,False,NaN,1,1.0,2016.0,NaN,False,NaN,4.0
19,87218,406.0,NaN,False,NaN,4,2.0,2014.0,NaN,False,NaN,4.0

In [19]:
ownr_df.head(20)

,owner_id,oc_household_adult_count,oc_household_child_count,oc_household_person_count,oc_primary_residence_census_division,oc_primary_residence_ownership,oc_primary_residence_ownership_other_description,oc_primary_residence_state,oc_primary_residence_time_percentage,oc_secondary_residence,...,pa_swim_locations_other_description,pa_swim_locations_pond_or_lake,pa_swim_locations_river_stream_or_creek,pa_swim_locations_swimming_pool,pa_swim_moderate_weather_frequency,ss_vet_frequency,st_hles_completion_date,st_portal_account_creation_date,st_portal_invitation_date,st_vip_or_staff
0,1,2,0,2,9.0,2,NaN,WA,5.0,True,...,NaN,NaN,NaN,NaN,NaN,2,2019-12-31,2019-12-30,2019-12-30,1
1,2,2,0,2,9.0,2,NaN,WA,NaN,False,...,NaN,NaN,NaN,NaN,NaN,2,2020-01-05,2020-01-04,2019-12-30,1
2,3,2,0,2,9.0,2,NaN,WA,NaN,False,...,NaN,NaN,NaN,NaN,NaN,2,2020-04-01,2020-03-23,2020-03-23,0
3,4,2,0,2,5.0,2,NaN,VA,NaN,False,...,NaN,NaN,NaN,NaN,NaN,2,2020-03-29,2020-03-24,2020-03-23,0
4,5,2,1,3,7.0,2,NaN,TX,NaN,False,...,NaN,NaN,NaN,NaN,NaN,3,2020-01-27,2020-01-27,2019-12-30,1
5,6,2,0,2,5.0,2,NaN,NC,5.0,True,...,NaN,NaN,NaN,NaN,NaN,3,2020-03-23,2020-03-23,2020-03-23,0
6,7,2,0,2,9.0,2,NaN,WA,4.0,True,...,NaN,NaN,NaN,NaN,NaN,3,2020-01-15,2020-01-15,2019-12-30,1
7,8,2,0,2,8.0,2,NaN,NV,NaN,False,...,NaN,True,False,True,5.0,3,2020-05-04,2020-04-04,2020-03-23,0
8,9,2,0,2,4.0,2,NaN,IA,5.0,True,...,NaN,NaN,NaN,NaN,NaN,2,2020-04-22,2020-03-23,2020-03-23,0
9,10,1,0,1,3.0,2,NaN,WI,NaN,False,...,NaN,NaN,NaN,NaN,NaN,3,2020-04-16,2020-04-13,2020-03-23,0
10,11,2,0,2,9.0,2,NaN,WA,NaN,False,...,NaN,NaN,NaN,NaN,NaN,3,2020-03-27,2020-03-27,2020-03-23,0
11,12,2,0,2,8.0,2,NaN,NM,NaN,False,...,NaN,NaN,NaN,NaN,NaN,2,2020-03-28,2020-03-28,2020-03-23,0
12,13,2,0,2,9.0,2,NaN,WA,5.0,True,...,NaN,False,True,False,2.0,3,2019-12-27,2019-12-27,2019-12-26,2
13,14,2,0,2,8.0,2,NaN,AZ,NaN,False,...,NaN,NaN,NaN,NaN,NaN,2,2020-04-11,2020-03-23,2020-03-23,0
14,15,2,0,2,9.0,1,NaN,CA,NaN,False,...,NaN,NaN,NaN,NaN,NaN,2,2020-03-23,2020-03-23,2020-03-23,0
15,16,2,0,2,9.0,2,NaN,CA,NaN,False,...,NaN,NaN,NaN,NaN,NaN,2,2020-04-27,2020-04-04,2020-03-23,0
16,17,1,0,1,2.0,2,NaN,NY,NaN,False,...,NaN,NaN,NaN,NaN,NaN,2,2020-04-04,2020-03-25,2020-03-23,0
17,18,3,0,3,8.0,1,NaN,CO,5.0,True,...,NaN,True,True,False,4.0,3,2020-03-23,2020-03-23,2020-03-23,0
18,19,1,0,1,1.0,1,NaN,MA,NaN,False,...,NaN,NaN,NaN,NaN,NaN,2,2020-04-07,2020-03-28,2020-03-23,0
19,20,2,0,2,8.0,2,NaN,NV,5.0,True,...,NaN,NaN,NaN,NaN,NaN,3,2020-03-31,2020-03-23,2020-03-23,0

In [20]:
cncr_df.head(20)

,dog_id,hs_cancer_locations_adrenal_gland,hs_cancer_locations_anal_sac,hs_cancer_locations_bladder_or_urethra,hs_cancer_locations_blood,hs_cancer_locations_bone_or_joint,hs_cancer_locations_brain,hs_cancer_locations_cardiac_tissue,hs_cancer_locations_ear,hs_cancer_locations_esophagus,...,hs_leukemia_types_chronic,hs_leukemia_types_other,hs_leukemia_types_unknown,hs_lymphoma_lymphosarcoma_types_b_cell,hs_lymphoma_lymphosarcoma_types_other,hs_lymphoma_lymphosarcoma_types_other_description,hs_lymphoma_lymphosarcoma_types_t_cell,hs_lymphoma_lymphosarcoma_types_t_zone,hs_lymphoma_lymphosarcoma_types_unknown,hs_required_surgery_or_hospitalization
0,29702,False,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,86399,False,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
2,92031,False,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,39653,False,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,2114,False,False,False,False,False,False,False,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
5,64276,False,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
6,43961,False,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
7,60796,False,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
8,90315,False,False,False,False,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
9,46085,False,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
10,40729,False,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
11,15361,False,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
12,79355,False,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
13,35247,False,False,False,False,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
14,42525,False,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
15,19712,False,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
16,69045,False,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
17,88506,False,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
18,44146,False,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
19,4183,False,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4

In [21]:
envr_df.head(20)

,dog_id,address_1_or_2,address_month,address_year,cv_area_sqmi,cv_data_year,cv_disadvantage_index,cv_gini_index,cv_median_income,cv_pct_below_125povline,...,tp_tmpc_norm_09,tp_tmpc_norm_10,tp_tmpc_norm_11,tp_tmpc_norm_12,wv_density_data_year,wv_housing_units,wv_res_density,wv_walkscore,wv_walkscore_date,wv_walkscore_descrip
0,78858,1,10,2020,18.531685,1.0,0.30,0.4040,50743.0,18.98,...,71.4,61.3,52.2,43.8,1.0,2098.0,113.198175,0.0,2020-08-29,4.0
1,8332,1,3,2020,1.354809,1.0,0.74,0.4575,27563.0,36.77,...,70.3,59.0,47.2,37.3,1.0,1083.0,799.374684,46.0,2020-06-30,4.0
2,20441,1,10,2020,9.830563,1.0,0.12,0.4202,46148.0,21.93,...,69.7,57.5,44.4,32.9,1.0,2503.0,254.677784,0.0,2020-08-30,4.0
3,48533,1,3,2020,24.837548,1.0,-1.38,0.5071,131776.0,5.99,...,61.5,49.2,37.0,28.2,1.0,2092.0,84.227316,2.0,2020-07-26,4.0
4,59287,1,12,2020,21.497858,2.0,-0.30,0.4719,66491.0,23.64,...,64.9,53.9,44.0,33.6,2.0,1836.0,85.403856,NaN,NaN,5.0
5,78852,2,11,2020,38.390288,1.0,-0.76,0.4240,86705.0,4.92,...,78.6,72.1,64.3,57.5,1.0,8003.0,208.465695,0.0,2020-07-15,4.0
6,6672,1,8,2020,1.100332,1.0,-0.76,0.2920,92629.0,3.14,...,56.1,47.2,39.5,34.8,1.0,1698.0,1543.170973,21.0,2020-05-22,4.0
7,8197,1,12,2020,0.984622,2.0,-0.23,0.4850,64130.0,13.19,...,61.5,49.2,37.0,28.2,2.0,1827.0,1855.533800,45.0,2020-11-18,4.0
8,71271,1,8,2020,7.204690,1.0,-0.68,0.3314,92206.0,3.29,...,72.4,62.5,51.9,44.6,1.0,3069.0,424.755391,7.0,2020-05-29,4.0
9,74844,1,9,2020,6.158658,1.0,0.62,0.4966,38466.0,35.82,...,79.8,73.8,66.7,60.5,1.0,2687.0,436.296385,1.0,2020-05-30,4.0
10,46610,1,10,2020,0.751605,1.0,-0.81,0.3482,93884.0,7.60,...,57.5,46.8,36.6,29.0,1.0,1198.0,1593.921464,39.0,2020-05-15,4.0
11,27679,1,10,2020,0.545898,1.0,-1.40,0.3267,113977.0,2.90,...,76.5,66.0,55.1,45.4,1.0,1074.0,1967.395312,45.0,2020-05-12,4.0
12,61817,2,12,2020,5.026792,2.0,-0.19,0.4755,80438.0,13.06,...,80.1,69.8,59.2,51.7,2.0,2788.0,554.628037,20.0,2020-10-31,4.0
13,32395,1,10,2020,28.819012,1.0,-0.38,0.3692,76250.0,7.28,...,61.1,49.9,38.0,31.0,1.0,2176.0,75.505706,0.0,2020-05-06,4.0
14,71627,1,12,2020,0.892922,2.0,0.60,0.6113,29416.0,39.78,...,78.1,68.9,59.2,50.7,2.0,2629.0,2944.266466,NaN,NaN,5.0
15,9832,1,10,2020,0.484023,1.0,-0.57,0.3537,68773.0,9.34,...,62.7,50.7,39.4,30.8,1.0,2036.0,4203.346253,33.0,2020-09-30,4.0
16,11452,1,10,2020,19.657348,1.0,-0.94,0.4211,111667.0,8.49,...,76.0,65.7,55.1,45.7,1.0,2772.0,141.015963,0.0,2020-10-05,4.0
17,80995,1,10,2020,225.708714,1.0,-0.16,0.4681,54738.0,19.04,...,57.1,45.7,35.7,24.1,1.0,3557.0,15.768507,2.0,2020-08-30,4.0
18,62136,2,12,2020,1167.336007,2.0,-0.05,0.4128,50291.0,14.38,...,52.2,40.8,29.5,21.8,2.0,3810.0,3.263842,0.0,2020-12-09,4.0
19,84813,1,11,2020,9.966279,1.0,-0.60,0.3533,85088.0,11.93,...,71.0,60.9,51.9,43.5,1.0,6305.0,632.633916,0.0,2020-05-23,4.0

In [23]:
# Merging into mega table
print(len(main_df))

# Merge main table with health
merged_df_1 = pd.merge(main_df, heal_df, on="dog_id")
print(len(merged_df_1))

# print(list(merged_df_1.columns))

# merge with cancer table
merged_df_2 = pd.merge(merged_df_1, cncr_df, on="dog_id")
print(len(merged_df_2))

# print(list(merged_df_2.columns))
merged_df_2.head(20)

# merge with environment table
merged_df_3 = pd.merge(merged_df_2, envr_df, on="dog_id")
# print(len(merged_df_3))

# merge with owner table
merged_df_fin = pd.merge(merged_df_3, ownr_df, on="dog_id")
# print(len(merged_df_fin))

# merged_df_fin.head(20)

20096
56747
5721

In [29]:
pd.set_option('display.max_columns', None)

print(merged_df_fin['oc_primary_residence_state'])

12098